.header{
    background-color: #1F2937;
    padding: 50px;
}

.header > h1{
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 48px;

}

.header > p{
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#header-logo{
    text-align: left;
    font-family: 'Roboto';
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links{
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto';
    font-size: 20px;
    color: #F9FAF8;
    align-items: center;
}

.header-links > div{
    margin: 10px;
    margin-top: -30px;
    
}
.information{
    display: flex;
}

.information > div{
    justify-content: flex-start;
    padding: 100px;
    font-family: 'Roboto';
    margin-left: -80px;
}

div > h1{
    font-size: 48px;
    color: #F9FAF8;
}

div > p{
    font-size: 18px;
    color: #F9FAF8;
}
div > button{
    background-color: #3882F6;
    font-family: 'Roboto';
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border: #3882F6;
    text-align: center;
    border-radius: 7px;
    width: 100px;
}

img{

        width: 600px;
        height: 400px;
        justify-content: flex-end;
        margin-top: 50px;
}

.content{
    background-color: white;
    padding: 100px;
    font-family: 'Roboto';
}

.content > h2{
    text-align: center;
}

.content > p{
    font-size: 18px;
    color: #1F2937;
    font-weight: lighter;
    font-family: 'Roboto';
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.quote{
    background-color: #E5E7EB;
    padding: 100px;
    font-family: 'Roboto';
}

.quote > p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-family: 'Roboto';
    font-style: italic;
    margin-left: 150px;
    margin-right: 150px;
}

#quote-author{
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    font-family: 'Roboto';
    margin-left: 100px;
    margin-right: 150px;
    text-align: end;

}
.sign-up{
    background-color: #3882F6;
    padding: 10px;
    font-family: 'Roboto';
    margin: 100px;
    border-radius: 7px;
    width: 1000px;
    height: 160px;
    margin-left: 150px;
    margin-right: 150px;
    
}
.sign-up > h3{
    margin-left: 100px;
    margin-top: 50px;
    color: white;
}
.sign-up > p{
    text-align:start;
    margin-left: 100px;
}

.sign-up > button{
    background-color: #3882F6;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 5px;
    border: solid thin white;
    border-radius: 7px;
    margin-right: 100px;
    margin-bottom: 200px;
    align-items: end;
}

.footer {
    background-color: #1F2937;
    padding: 10px;
    p{
        text-align: center;
        font-family: 'Roboto';
        color: white;
    }
}


