{%  load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Therapist Connect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <div id="header-logo">
                <img src="{% static 'Photos/logo-2.svg' %}" alt="Therapist Connect Logo">
            </div>

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
                <a href="{% url 'therapists' %}">Registration</a>
            </div>

            <div id="main">
                <button class="openbtn" onclick="openNav()">
                    <img src="{% static 'Photos/interface.png' %}" class="hamburger-icon">
                </button>
            </div>

            <div class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
                <a href="{% url 'therapists' %}">Registration</a>
            </div>
        </header>

        <section class="content">
            <div class="content-wrapper">
                <div class="line"></div>
                <div class="text">
                    <h2>About Us</h2>
                    <div class="sentence right">We provide a safe space for individuals to find solace, resources, and empowerment.</div>
                </div>
            </div>
        </section>
                    

        <div class="footer">
            <p>Copyright &copy; Therapist Connect 2024</p>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "100%"; // Full width
            document.body.classList.add("sidebar-open"); // Prevent body scrolling
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0"; // Collapse to zero width
            document.body.classList.remove("sidebar-open"); // Re-enable body scrolling
        }
    </script>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
