{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Therapist Connect</title>
<body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div id="header-logo">
        <!-- <img src="Photos/Therapist-Connect4.png" alt="Therapist Connect Logo"> -->
        <h1>Therapist Connect</h1>
    </div>
    
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
        <a href="{% url 'therapists' %}">Registration</a>
    </div>
      
    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>

    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
        <a href="{% url 'therapists' %}">Registration</a>
    </div>

<section class="content">
    <h2>About</h2>
    <p>Our mental health website fosters unity and support through teamwork, community, and service. 
        We provide a safe space for individuals to find solace, resources, and empowerment. 
        Join us in promoting mental wellness and creating a brighter future together.
    </p>
        <div class="image-container">
            <img src="Photos/pexels-belle-co-99483-1000445.jpg" alt="Photo of people jumping" width="300" height="200">
            <img src="Photos/pexels-polina-zimmerman-3782228.jpg" alt="Community" width="300" height="200">
            <img src="Photos/pexels-diohasbi-3280130.jpg" alt="Team Work" width="300" height="200">
            <img src="Photos/pexels-lagosfoodbank-8042458.jpg" alt="Community Service" width="300" height="200">
        </div>  
</section>

<div class="footer">
    <p>Copyright &copy; Therapist Connect 2024</p>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</head>
</html>