{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Therapist Connect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .therapist-box {
            border: 1px solid #ccc;
            margin-bottom: 10px;
            padding: 10px;
            cursor: pointer;
        }
        .therapist-details {
            display: none;
            margin-top: 10px;
        }
        .therapist-box.active .therapist-details {
            display: block;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src=”https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <div class="container">
        <header class="header">
            <div id="header-logo">
                <img src="{% static 'Photos/logo-2.svg' %}" alt="Therapist Connect Logo"> 
            </div>

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
                <a href="{% url 'therapists' %}">Registration</a>
            </div>
              
            <div id="main">
                <button class="openbtn" onclick="openNav()"</button>
                <img src="{% static 'Photos/interface.png' %}" alt="Menu" class="hamburger-icon">
            </div>
        
            <div class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
                <a href="{% url 'therapists' %}">Registration</a>
            </div>
        </header>


    <div class="search-container">
        <h2>Find a Therapist</h2>
        <form method="get">
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    {% if form.is_bound and form.is_valid %}
    {% if therapists %}
        <div class="results-container">
            {% for therapist in therapists %}
            <div class="therapist-box" onclick="toggleDetails(this)">
                <div class="circle-img">
                    <img src="{% static 'Photos/user.png' %}" style="width: 50px; height: auto;">
                </div>
                <div class="center-text">
                    <h3>{{ therapist.first_name }} {{ therapist.last_name }}</h3>
                    <p>{{ therapist.location}}</p>
                    <p>{{ therapist.type_of_therapy }}</p>
                </div>
                <div class="therapist-details">
                    <p>Name: {{ therapist.first_name }} {{ therapist.last_name }}</p>
                    <p>Email: {{ therapist.email }}</p>
                    <p>Phone: {{ therapist.phone }}</p>
                    <p>Address: {{ therapist.address }}</p>
                    <p>Gender: {{ therapist.gender }}</p>
                    <p>Age: {{ therapist.age }}</p>
                    <p>Years of Experience: {{ therapist.years_of_experience }}</p>
                    <p>Fee per Session: {{ therapist.fee_per_session }}</p>
                    <p>Monthly Slots: {{ therapist.monthly_slots }}</p>
                    <p>Monthly Fee: {{ therapist.monthly_fee }}</p>
                    <p>Accepts Queer Clients: {% if therapist.accepts_queer_clients %}Yes{% else %}No{% endif %}</p>
                    <!-- Add more details here -->
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="results-container">
            <p>No therapists found.</p>
        </div>
    {% endif %}
{% else %}
    <div class="results-container">
        <h2>All Therapists</h2>
        {% for therapist in all_therapists %}
        <div class="therapist-box" onclick="toggleDetails(this)">
            <div class="circle-img">
                <img src="{% static 'Photos/user.png' %}" alt="{{ therapist.first_name }} {{ therapist.last_name }}" style="width: 50px; height: auto;">
            </div>
            <div class="center-text">
                <h3>{{ therapist.location }}</h3>
                <p>{{ therapist.type_of_therapy }}</p>
            </div>
            <div class="therapist-details">
                <p>Name: {{ therapist.first_name }} {{ therapist.last_name }}</p>
                <p>Email: {{ therapist.email }}</p>
                <p>Phone: {{ therapist.phone }}</p>
                <p>Address: {{ therapist.address }}</p>
                <p>Gender: {{ therapist.gender }}</p>
                <p>Age: {{ therapist.age }}</p>
                <p>Years of Experience: {{ therapist.years_of_experience }}</p>
                <p>Fee per Session: {{ therapist.fee_per_session }}</p>
                <p>Monthly Slots: {{ therapist.monthly_slots }}</p>
                <p>Monthly Fee: {{ therapist.monthly_fee }}</p>
                <p>Accepts Queer Clients: {% if therapist.accepts_queer_clients %}Yes{% else %}No{% endif %}</p>
                <!-- Add more details here -->
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
   
    <div class="footer">
        <p>Copyright &copy; Therapist Connect 2024</p>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "100%"; // Full width
            document.body.classList.add("sidebar-open"); // Prevent body scrolling
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0"; // Collapse to zero width
            document.body.classList.remove("sidebar-open"); // Re-enable body scrolling
        }
    </script>
    
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        function toggleDetails(element) {
            element.classList.toggle('active');
        }
    </script>
</body>
</html>
