{%  load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Therapist Connect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div id="header-logo">
                <img src="{% static 'Photos/logo.svg' %}" alt="Therapist Connect Logo">
            </div>

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
                <a href="{% url 'therapists' %}">Registration</a>
            </div>

            <div id="main">
                <button class="openbtn" onclick="openNav()">
                    <img src="{% static 'Photos/interface.png' %}" class="hamburger-icon">
                </button>
            </div>

            <div class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'find_a_therapist' %}">Find a Therapist</a>
                <a href="{% url 'therapists' %}">Registration</a>
            </div>
        </header>

        <main>
            <div class="landing-section">
                <div class="text-content">
                    <h1>Mental Health is not a Destination but a Process.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate. Faucibus nec gravida ipsum pulvinar vel non.</p>
                    <button>Explore</button>
                </div>
                <div class="image-content">
                    <img src="{% static 'Photos/mental-health2.jpg' %}" alt="Mental Health Matters">
                </div>
            </div>
        </main>
    </div>

    <div class="footer">
        <p>Copyright &copy; Therapist Connect 2024</p>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
