{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Therapist Connect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="signup">

    <div class="logo-container">
        <div class="signup-logo">
            <img src="{% static 'Photos/logo-2.svg' %}" alt="Therapist Connect Logo">
        </div>
    </div>

    <div class="signup-wrapper">
        <div class="login-container">
            <div class="sign-up-form">
                <h2>Login</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="login-button">Login</button>
                </form>                
                    <p>Create An Account? <a href="{% url 'signup' %}" style="color: white;">Sign Up</a></p>
                    <p><a href="{% url 'password_reset'  %}" style="color: white;">Forgot Password?</a></p>
                    {% if form.errors %}
                        <ul class="errorlist">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        // JavaScript code to handle form submission
        document.getElementById('signup-form').addEventListener('submit', function(event) {
            // Prevent the default form submission behavior
            event.preventDefault();
            
            // Perform any form validation if needed
            
            // Submit the form
            this.submit();
        });
    </script>
</body>
</html>
