{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent - Therapist Connect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="signup">

    <div class="logo-container">
        <div class="signup-logo">
            <img src="{% static 'Photos/logo-2.svg' %}" alt="Therapist Connect Logo">
        </div>
    </div>
    <div class="signup-wrapper">
        <div class="login-container">
            <div class="sign-up-form">
                <h2>Password Reset Sent</h2>
                <p>An email has been sent with instructions to reset your password.</p>
                <a href="{% url 'login' %}" class="login-button">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
